/* CSS crunched with Crunch - http://crunchapp.net/ */
/* LUV Slimline uses atomic design principles to order its CSS */
/* 1. Protons
Sitewide definitions
Includes: 1.1 Colours; 1.2 Font stacks; 1.3 Fontkits; 1.4 Functions for drop shadows and rounded corners; 1.6 Constants; 1.7 Transitions for CSS Animations */
/* 2. Atom
A single basic page element
Includes: Standard resets
Examples: Paragraph, Link, Button, Blockquote */
/* 3. Molecule
Reusable elements made up of Atoms
Examples: Comment Reply Form, Main Nav, Utility Nav, Footer Nav, Copyright Notice, Pagination */
/* 4. Organism
Fully functional content module made up of Molecules
Examples: Comments, Header, Footer */
/* 5. Templates
Basic layout markup wrapping a smattering of Organisms
Examples: Blog List, Homepage, Product Detail */
/* 6. Pages
Content applied to Templates. */
/* 1. Particles ============================================================================ */
/* 1.1 Colours */
/* a value to step up or down another pre-defined colour value */
/* 1.2 Font stacks */
.fontHeadlines {
  font-family: 'ralewaylight', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
.fontEmphasis {
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
.fontDisplay {
  font-family: "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, Georgia, serif;
  font-style: italic;
}
.fontInterface {
  font-family: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
/* 1.3 Fontkits */
@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.eot');
  src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold-webfont.woff') format('woff'), url('../fonts/raleway-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular-webfont.eot');
  src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular-webfont.woff') format('woff'), url('../fonts/raleway-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaylight';
  src: url('../fonts/raleway-light-webfont.eot');
  src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-light-webfont.woff') format('woff'), url('../fonts/raleway-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* 1.4 Functions */
.roundCorners {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* 1.4.5 Transitions for CSS Animations */
.transition-bg {
  transition: background-color 250ms linear;
}
.transition-button {
  transition: width 150ms, margin-right 150ms, top 250ms linear 250ms;
}
/* 1.5 Constants */
/* 2. Atoms ========================================================================== */
/* 2.1 General typographic elements */
body {
  font-family: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  background-color: #ffde16;
}
@media screen and (max-width: 800px) {
  body {
    min-width: 400px;
    max-width: 800px;
    font-size: 17px;
  }
  body .backstretch {
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  body {
    min-width: 800px;
    max-width: 1200px;
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 17px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
h1 {
  font-size: 2em;
  font-family: 'ralewaylight', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #111111;
  line-height: 1em;
}
h2 {
  font-size: 1.15em;
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #111111;
  text-transform: uppercase;
  line-height: 1em;
}
h3 {
  font-size: 1.15em;
  font-family: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #111111;
  line-height: 1em;
}
h4 {
  font-size: 1em;
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #ee2d3c;
  text-transform: uppercase;
  line-height: 1em;
}
h5 {
  font-size: 1em;
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #333333;
  text-transform: uppercase;
  line-height: 1em;
}
h6 {
  font-size: 1.15em;
  font-family: 'ralewaylight', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #999999;
  line-height: 1em;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #ee2d3c;
  text-decoration: none;
}
h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle,
h6.subtitle {
  text-transform: uppercase;
}
h1.horizontal,
h2.horizontal,
h3.horizontal,
h4.horizontal,
h5.horizontal,
h6.horizontal {
  display: inline-block;
  margin-right: 0.5em;
}
p {
  font-family: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  font-size: 1em;
  color: #333333;
  line-height: 1.25em;
  margin: 0 0 1.25em 0;
}
p.intro {
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  font-size: 1.1em;
  color: #111111;
  line-height: 1.25em;
}
p.author {
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #111111;
  margin: 0.5em 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #111111;
}
p.subheading {
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  color: #111111;
  margin: 0 0 0.5em 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #111111;
}
p address {
  font-size: 0.9em;
  color: #999999;
}
p address:hover,
p address:active {
  color: #333333;
}
a {
  color: #ee2d3c;
  text-decoration: none;
}
a:hover,
a:active {
  color: #999999;
  text-decoration: none;
}
/* 2.2 Typographic structures */
blockquote {
  display: block;
  margin: 1em 0;
  padding: 0.5em;
  border-top: 1px solid #ee2d3c;
  border-bottom: 2px solid #ee2d3c;
  font-size: 1.25em;
  font-family: "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, Georgia, serif;
  font-style: italic;
  line-height: 1.5em;
}
blockquote p:before {
  content: open-quote;
  color: #ee2d3c;
  font-size: 1.5em;
}
blockquote p:after {
  content: close-quote;
  color: #ee2d3c;
  font-size: 1.5em;
}
ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.unstyled li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.horizontal li {
  float: left;
  margin-right: 0.5em;
}
ul.horizontal li:last-child {
  margin-right: 0;
}
/*  2.3 Typographic adjustments */
small {
  font-size: 0.75em;
}
strong,
b {
  font-weight: bold;
  color: #111111;
}
em,
i {
  font-style: italic;
}
/* 2.4 Layout elements */
hr {
  border: 0;
  border-top: 1px dotted #111111;
}
figure,
aside {
  display: inline-block;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
/* 2.5 Forms */
/* Basic form elements - styling for inputs and labels */
/* 2.6 Menu items */
/* Styling for menu links only - Menu CLUSTERS get classed as Molecules */
/* 2.7 Modifiers */
.clear {
  clear: both;
}
.left {
  float: left;
  display: inline-block;
}
.right {
  float: right;
  display: inline-block;
}
.right *:last-child {
  margin-right: 0;
}
.initiallyHidden {
  display: none;
}
/* 3. Molecule */
/* re-usable blocks for forms - addresses; credit card collection; 
.pagination {} /* pagination block(s) */
/* 3.1 Navigation buttons */
.buttons {
  margin: 0;
  overflow: hidden;
  display: inline-block;
  float: left;
}
.buttons div {
  display: inline-block;
  float: left;
}
.buttons button {
  cursor: pointer;
  display: inline-block;
  float: left;
  position: relative;
  top: 0;
  margin: 0 0.5em 0 0;
  padding: 0.55em 1em 0.5em;
  height: 2.35em;
  font-family: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  font-size: 1.25em;
  line-height: 1.15em;
  background-color: #ffffff;
  border: 1px solid #efefef;
}
.buttons button:hover {
  color: #ee2d3c;
  border: 1px solid #999999;
}
.buttons .hidden {
  width: 0;
  margin-right: 0;
  padding: 0 !important;
  border: 0;
  position: relative;
  top: -3em;
  overflow: hidden;
  transition: width 150ms, margin-right 150ms, top 250ms linear 250ms;
}
.buttons .hidden:focus {
  outline: -webkit-focus-ring-color auto 5px;
  transition: outline 150ms;
}
.buttons .reveal {
  width: auto;
  margin-right: 1em;
  transition: width 150ms, margin-right 150ms, top 250ms linear 250ms;
}
.buttons .reveal button {
  width: auto;
}
.buttons .primary button {
  background-color: #ffde16;
  border: 1px solid #111111;
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  -webkit-box-shadow: inset -1px -2px 2px #ffde16;
  box-shadow: inset -1px -2px 2px #ffde16;
}
.buttons .quiet button {
  font-size: 1em;
  padding: 0.6em 0.5em 0.4em;
}
#comics-navigation .previously button:before,
#comics-navigation .continued button:after {
  height: 1em;
  width: 1em;
  line-height: 0.9em;
  position: relative;
  top: -0.1em;
  display: inline-block;
  border-radius: 2em;
  border: 1px solid #111111;
  background-color: white;
}
#comics-navigation .previously button:before {
  content: '<';
  margin-right: 0.25em;
}
#comics-navigation .continued button:after {
  content: '>';
  margin-left: 0.25em;
}
#comics-navigation .primary button:before,
#comics-navigation .primary button:after {
  border: 2px solid #111;
}
/* 3.3 Comic sharing buttons */
ul.social.share,
ul.social.follow {
  position: relative;
  z-index: 1;
}
ul.social.share li,
ul.social.follow li {
  margin-right: 0.5em;
}
ul.social.share li a,
ul.social.follow li a {
  opacity: 0.5;
  transition: background-color 250ms linear;
}
ul.social.share li a:hover,
ul.social.follow li a:hover,
ul.social.share li a:active,
ul.social.follow li a:active {
  opacity: 1;
  zoom: 1;
  filter: alpha(opacity=50);
  transition: background-color 250ms linear;
}
ul.social.share {
  top: 0.5em;
}
@media screen and (max-width: 800px) {
  ul.social.follow {
    display: block;
    clear: both;
    top: -0.5em;
  }
}
@media screen and (min-width: 800px) {
  ul.social.follow {
    display: inline-block;
    top: 0;
  }
}
/* 4. Organism */
/* Examples: Comments, Header, Footer */
/* 4.1 Header */
header {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
  top: 0;
  position: relative;
  margin-bottom: 2em;
  background-color: white;
  border-bottom: 1px solid #999999;
}
header h1 {
  margin: 0;
  display: inline-block;
}
header h1 a {
  display: inline-block;
  text-decoration: none;
  margin: 0.5em;
}
header h1 a:hover {
  text-decoration: none;
}
header h1 a img {
  width: auto;
  max-width: 100%;
}
header h2 {
  margin: 0;
  color: #333333;
}
header h2.subtitle {
  font-family: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  text-transform: none;
  color: #cccccc;
  margin: 0;
}
header h2 .title {
  color: #ee2d3c;
}
@media screen and (max-width: 800px) {
  header h2 .title {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  header h2 .title {
    display: inline-block;
  }
}
header nav {
  display: inline-block;
}
header #description {
  text-align: left;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  height: calc(25%);
}
@media screen and (max-width: 800px) {
  header #description {
    height: calc(50%);
  }
}
@media screen and (max-width: 1600px) {
  header {
    position: relative;
  }
  header h1 a {
    width: calc(75px);
    height: calc(75px);
  }
}
@media screen and (min-width: 1600px) {
  header h1 a {
    width: auto;
    height: auto;
  }
}
/* 4.1.1 Header position adjustments */
@media screen and (min-width: 400px) and (max-width: 800px) {
  body {
    margin: 0;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  body {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    margin: 0;
  }
}
@media screen and (min-width: 1600px) {
  body {
    margin: 12em 0 0 0;
  }
  header {
    position: fixed;
  }
}
/* 4.2 Slideshow and its container*/
#comic {
  margin-bottom: 2em;
  transition: max-height 0.25s;
  -webkit-transition: max-height 0.25s;
}
#comic h1 {
  font-size: 2.5em;
  margin-bottom: 0.5rem;
}
#comic h1 .edition {
  color: #ee2d3c;
  margin-left: 0.25em;
  font-size: 0.75em;
  top: -0.25em;
  position: relative;
}
#comic h1 .edition sup {
  font-size: 0.5em;
}
.slide {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 1em;
}
.slide img {
  width: 990px !important;
  margin: -50px -20px -20px -20px;
}
/* Page content */
#content h1 {
  font-family: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  font-size: 0.9em;
  margin-bottom: 0;
  color: #ee2d3c;
  text-transform: uppercase;
}
/* 4.4 Follow strap */
footer {
  /* general styles */
  background-color: #ffffff;
}
footer .footer-molecule {
  padding: 1em 0;
}
@media screen and (max-width: 1200px) {
  footer .footer-molecule {
    padding-left: 1em;
  }
}
footer h2 {
  margin: 0 0 1em 0;
  color: #333333;
}
footer h2.subtitle {
  font-family: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  text-transform: none;
  color: #cccccc;
  margin: 0;
}
footer .strap {
  width: 100%;
  padding: 0;
  display: inline-block;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
footer .strap .column-1 {
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  footer .strap {
    padding: 0;
  }
}
footer .strap p {
  font-size: 0.95rem;
  color: #333333;
  margin: 1em 0 0 0;
}
footer .strap a {
  color: #333333;
}
footer .strap a:hover,
footer .strap a:active {
  color: #ee2d3c;
  text-decoration: underline;
}
footer .strap ul {
  min-height: 2em;
}
footer .strap ul li {
  font-size: 0.95rem;
  color: #333333;
  margin: 0;
}
/* 4.5 Authors */
footer .authors {
  width: 100%;
  overflow: auto;
}
footer .authors .author {
  overflow: auto;
  position: relative;
  margin: 0;
  padding: 0 1em 0 0;
}
footer .authors p {
  font-size: 0.95em;
}
footer .authors .name {
  position: relative;
  float: left;
  width: calc(100% - 7em);
  height: 5em;
}
footer .authors .name h1 {
  position: absolute;
  bottom: 1rem;
}
footer .authors .name p {
  font-size: 1.15em;
  line-height: 1rem;
  margin: 0 0 0.5rem;
  position: absolute;
  bottom: 0;
}
footer .authors .bio {
  position: relative;
  float: left;
  width: calc(100% - 7em);
}
footer .authors .portrait {
  background-color: #ffde16;
  -webkit-box-shadow: inset -3px -3px 0px #fdc714;
  box-shadow: inset -3px -3px 0px #fdc714;
  border: 2px solid #111111;
}
@media screen and (max-width: 800px) {
  footer .authors .author {
    width: auto;
    max-width: 600px;
    display: block;
    border-bottom: 1px solid #efefef;
    margin-bottom: 1em;
  }
  footer .authors .author:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  footer .authors .portrait {
    width: 4em;
    height: 4em;
    border-radius: 4em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  footer .authors .author {
    width: auto;
    max-width: 600px;
    display: block;
    border-bottom: 1px solid #efefef;
    margin-bottom: 1em;
  }
  footer .authors .author:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  footer .authors .portrait {
    width: 5em;
    height: 5em;
    border-radius: 5em;
  }
}
@media screen and (min-width: 1200px) {
  footer .authors .author {
    width: calc(50% - 1em - 1px);
    display: inline-block;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
  footer .authors .author:nth-of-type(1) {
    padding-left: 0;
    border-left: 0;
    left: 1px;
  }
  footer .authors .author:last-of-type {
    border-right: 0;
    padding-right: 0;
    padding-left: 1em;
  }
  footer .authors .portrait {
    width: 6em;
    height: 6em;
    border-radius: 6em;
  }
}
/* 5. Templates */
/* Examples: Blog List, Comics main page, Product Detail */
.column-all {
  margin: 0 auto;
}
.column-1,
.column-2 {
  width: auto;
  padding: 0;
  margin-bottom: 2em;
}
.column-1 .container,
.column-2 .container {
  display: block;
  overflow: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 20px #333333;
  box-shadow: 3px 3px 20px #333333;
}
.column-2 .container {
  width: 300px;
  padding: 1em;
  margin-bottom: 1em;
}
.column-2 .container:last-child {
  margin-bottom: 0;
}
.column-2 .container p {
  font-size: 0.9em;
  margin: 0;
}
.column-2 .container a {
  color: #111111;
}
.container.large {
  display: block;
  overflow: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 20px #333333;
  box-shadow: 3px 3px 20px #333333;
}
.container.large.large {
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .column-all {
    width: 100%;
  }
  .column-all#comic {
    width: calc(1058px);
  }
  .column-all .container.large {
    padding: 1em;
    margin: 0 0 0 1em;
  }
  .column-1 {
    max-width: 719px;
    display: block;
    float: none;
  }
  .column-1 .container {
    padding: 2em;
    margin: 0 2em 2em 1em;
  }
  .column-2 {
    float: none;
    display: block;
    margin-left: 1em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .column-all {
    width: 1020px;
  }
  .column-all .container.large {
    padding: 2em;
    margin-left: 1em;
    margin-right: 0em;
  }
  .column-1 {
    width: 607px;
    margin-right: 2em;
    margin-left: 1em;
    margin-bottom: 2em;
    float: left;
  }
  .column-1 .container {
    padding: 2em;
    margin: 0 1em 0 0;
  }
  .column-2 {
    width: 705px;
    padding: 0;
    float: left;
    margin-left: 1em;
  }
  .column-2 .container {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
  }
  .column-2 .container:nth-of-type(2n+2) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .column-all {
    width: 1022px;
  }
  .column-all .container.large {
    padding: 2em;
  }
  .column-1 {
    width: 482px;
    margin-right: 2em;
    margin-bottom: 2em;
    float: left;
  }
  .column-1 .container {
    padding: 2em;
  }
  .column-1.authors {
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 0;
    padding: 1em 0;
  }
  .column-1.authors:last-of-type {
    margin-right: 0;
  }
  .column-2 {
    width: 332px;
    float: left;
    margin-top: 4em;
    margin-bottom: 0em;
  }
}
@media screen and (min-width: 1600px) {
  .column-all {
    width: 1024px;
  }
  .column-all .container.large {
    padding: 2em;
  }
  .column-1 {
    width: 484px;
    margin-right: 2em;
    margin-bottom: 2em;
    float: left;
  }
  .column-1 .container {
    padding: 2em;
  }
  .column-1.authors {
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 0;
    padding: 1em 0;
  }
  .column-1.authors:last-of-type {
    margin-right: 0;
  }
  .column-2 {
    width: auto;
    float: left;
    margin-top: 4em;
    margin-bottom: 2em;
  }
}
/* 6. Page */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
