/* LUV Slimline uses atomic design principles to order its CSS */

/* 1. Protons
Sitewide definitions
Includes: 1.1 Colours; 1.2 Font stacks; 1.3 Fontkits; 1.4 Functions for drop shadows and rounded corners; 1.6 Constants; 1.7 Transitions for CSS Animations */

/* 2. Atom
A single basic page element
Includes: Standard resets
Examples: Paragraph, Link, Button, Blockquote */

/* 3. Molecule
Reusable elements made up of Atoms
Examples: Comment Reply Form, Main Nav, Utility Nav, Footer Nav, Copyright Notice, Pagination */

/* 4. Organism
Fully functional content module made up of Molecules
Examples: Comments, Header, Footer */

/* 5. Templates
Basic layout markup wrapping a smattering of Organisms
Examples: Blog List, Homepage, Product Detail */

/* 6. Pages
Content applied to Templates. */


/* 1. Particles ============================================================================ */
/* 1.1 Colours */
@base-url: 'http://ilikeluvcomics.com';
@primary: #ffde16;
@accent: #fdc714;
@secondary: #ee2d3c;
@contrast: #49afcd;
@verydark: #111111;
@dark: #333333;
@mid: #999999;
@light: #cccccc;
@verylight: #efefef;
@white: white;
@colourshift: #222; /* a value to step up or down another pre-defined colour value */

@facebook: #3b5998;
@twitter: #00aced;
@googleplus: #d34836;
@reddit: #ff4500;
@pinterest: #C92228;
@stumbleupon: #f74425;

/* 1.2 Font stacks */
@fontHeadlines: 'ralewaylight', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
    .fontHeadlines { font-family:@fontHeadlines; }
@fontEmphasis: 'ralewaybold', "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
    .fontEmphasis { font-family:@fontEmphasis; }
@fontDisplay: "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, Georgia, serif;
    .fontDisplay { font-family:@fontDisplay; font-style: italic; }
@fontInterface: "ralewayregular", "DejuVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, Tahoma, sans-serif;
    .fontInterface { font-family:@fontInterface; }

/* 1.3 Fontkits */
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 1.4 Functions */
.roundCorners{ border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.dropShadowForContainers(@x:3px,@y:3px,@blur:20px,@value:@dark)
    {-webkit-box-shadow: @x @y @blur @value; box-shadow:@x @y @blur @value;}
.dropShadowInsetForButtons(@value:@light) { 
    -webkit-box-shadow: inset -1px -2px 2px @value; box-shadow:inset -1px -2px 2px @value; }
.dropShadowInset(@x:3px,@y:3px,@blur:0,@value:@verydark)
    {-webkit-box-shadow: inset @x @y @blur @value; box-shadow: inset @x @y @blur @value;}

/* 1.4.5 Transitions for CSS Animations */
.transition-bg { transition: background-color 250ms linear }
.transition-button { transition: width 150ms,margin-right 150ms,top 250ms linear 250ms; }
.transition-all(@d:0.5s) {
    -webkit-transition: all @d linear;
    -moz-transition: all @d linear;
    -ms-transition: all @d linear;
    -o-transition: all @d linear;
    transition: all @d linear;
}
/* 1.5 Constants */
@handheld: 400px;
    @handheld-fontsize: 17px;
@tablet: 800px;
    @tablet-fontsize: 15px;
@desktop: 1200px;
    @desktop-fontsize: 16px;
@widescreen: 1600px;
    @widescreen-fontsize: 17px;
@masterAd: 300px;
@masterWidth: 990px;

/* 2. Atoms ========================================================================== */
/* 2.1 General typographic elements */

body { .fontInterface;  background-color: @primary; margin:0; }
@media screen and (max-width: @tablet) {
  body { min-width: @handheld; max-width: @tablet; font-size: @handheld-fontsize; 
    .backstretch { display:none; }
  } 
}
@media screen and (min-width: @tablet) and (max-width: @desktop) {
  body { min-width: @tablet; max-width: @desktop; font-size: @tablet-fontsize; }  
}
@media screen and (min-width: @desktop) and (max-width: @widescreen) {
  body { font-size: @desktop-fontsize; } 
}
@media screen and (min-width: @widescreen) {
  body { font-size: @widescreen-fontsize; } 
}


h1, h2, h3, h4, h5, h6 { 
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal; margin: 0 0 0.5em 0;}
h1 { font-size: 2em; font-family: @fontHeadlines; color: @verydark; line-height:1em; }
h2 { font-size: 1.15em; font-family: @fontEmphasis; color:@verydark; text-transform: uppercase; line-height:1em; }
h3 { font-size: 1.15em; font-family: @fontInterface; color: @verydark; line-height:1em; }
h4 { font-size: 1em; font-family: @fontEmphasis; color: @secondary; text-transform: uppercase;  line-height:1em; }
h5 { font-size: 1em; font-family: @fontEmphasis; color: @dark; text-transform: uppercase; line-height:1em; }
h6 { font-size: 1.15em; font-family: @fontHeadlines; color:@mid; line-height:1em; }

h1, h2, h3, h4, h5, h6 {
    a {  
        &:hover, &:active { color: @secondary; text-decoration: none; }
    }
    &.subtitle { text-transform: uppercase; }
    &.horizontal { display: inline-block; margin-right: 0.5em; }
}

p {
    .fontInterface; font-size: 1em; color: @dark; line-height:1.25em; margin:0 0 1.25em 0;
    &.intro { .fontEmphasis; font-size: 1.1em; color: @verydark; line-height:1.25em; }
    &.author {  .fontEmphasis; color: @verydark; margin:0.5em 0; padding-bottom: 0.25em; border-bottom: 1px solid @verydark; }
    &.subheading {  .fontEmphasis; color: @verydark; margin:0 0 0.5em 0; padding-bottom: 0.25em; border-bottom: 1px solid @verydark; }
    address { font-size: 0.9em; color: @mid; 
        &:hover, &:active { color: @dark; }
    }
}
a { color: @secondary; text-decoration: none; 
    &:hover, &:active { color: @mid; text-decoration: none; }
}

/* 2.2 Typographic structures */
blockquote {
    display:block; margin: 1em 0; padding:0.5em; 
    border-top: 1px solid @secondary; border-bottom: 2px solid @secondary;
    font-size: 1.25em; font-family: @fontDisplay; font-style: italic; line-height:1.5em; 
    p {
       &:before { content:open-quote;color:@secondary; font-size: 1.5em; }
       &:after { content:close-quote;color:@secondary; font-size: 1.5em; }
    }
}

ul {
   &.unstyled { 
       list-style:none; margin:0; padding:0; 
        li { list-style:none; margin:0; padding:0; }
    }
    &.horizontal { 
        li { float:left; margin-right:0.5em; 
        &:last-child { margin-right:0; }
        }
    }
}

/*  2.3 Typographic adjustments */
small { font-size: 0.75em; }
strong, b { font-weight:bold; color: @verydark;}
em, i { font-style:italic; }
.success {  }
.muted {  }
.error {  }
q {}
cite {}
code {}
pre {}
caption {}


/* 2.4 Layout elements */
hr { border:0; border-top:1px dotted @verydark; }
figure, aside { 
    display: inline-block; margin: 0;
    -webkit-margin-before: 0; -webkit-margin-after: 0; 
    -webkit-margin-start: 0; -webkit-margin-end: 0;  } 

/* 2.5 Forms */
/* Basic form elements - styling for inputs and labels */ 

/* 2.6 Menu items */
/* Styling for menu links only - Menu CLUSTERS get classed as Molecules */

/* 2.7 Modifiers */
.clear { clear:both; }
.left { float:left; display:inline-block; }
.right { float:right; display:inline-block; }
.right *:last-child { margin-right:0; }
.nonDraggableImage{  }
.initiallyHidden { display:none; }

.ui-show { opacity:1; .transition-all(0.5s); position:relative; }
.ui-hide { opacity:0; .transition-all(0.5s); position:relative; }



/* 3. Molecule */
form {} 
/* re-usable blocks for forms - addresses; credit card collection; 
.pagination {} /* pagination block(s) */

/* 3.1 Navigation buttons */
.buttons {
    margin:0; overflow: hidden; display: inline-block; float: left;
    div { display:inline-block; float: left; }
    button { 
        cursor: pointer; display: inline-block; float: left; position: relative; top: 0;
        margin: 0 0.5em 0 0; padding: 0.55em 1em 0.5em; height: 2.35em; z-index:1000000;
        .fontInterface; font-size: 1.25em; line-height: 1.15em; 
        background-color: @white; border: 1px solid @verylight;
    &:hover { color: @secondary; border:1px solid @mid; }
    }
    .hidden { 
        width: 0; margin-right: 0; padding:0 !important; border: 0;
        position:relative; top: -3em; overflow: hidden; .transition-button;
        &:focus {
            outline: -webkit-focus-ring-color auto 5px; transition: outline 150ms;
        }
    }
    .reveal { width: auto; margin-right: 1em; .transition-button;
        button { width: auto; }
    }
    .primary button { 
        background-color: @primary; border: 1px solid @verydark;  
        .fontEmphasis; .dropShadowInsetForButtons(@primary); 
    }
    .quiet button { font-size: 1em; padding: 0.6em 0.5em 0.4em; }
}

#comics-navigation {
    .previously button:before, .continued button:after {
        height: 1em; width: 1em; line-height: 0.9em; position: relative; top: -0.1em; display: inline-block;  
        border-radius: 2em; border: 1px solid @verydark; background-color: white; 
    }
    .previously button:before {
        content: '<';  margin-right: 0.25em;
    }
    .continued button:after {
        content: '>';  margin-left: 0.25em;
    }
    .primary button:before, .primary button:after { 
        border: 2px solid #111; 
    }
}


/* 3.3 Comic sharing buttons */
#comics-shares { 
    .ui-show { opacity:1; left:0; }
    .ui-hide { opacity:0; left:-15em; }
}
ul.social {
   &.share, &.follow { 
        position: relative; z-index:1; margin-bottom:0.75em;
        li { 
            margin-right: 0.5em; 
            a { 
                opacity: 0.5; .transition-bg;
            &:hover, &:active { opacity: 1; zoom: 1; filter: alpha(opacity=50); .transition-bg }
            }
        }
    } 
   &.share { top: 0.5em; }
   @media screen and (max-width: @tablet) {
        &.follow { display: inline-block; float:left; }
   }
   @media screen and (min-width: @tablet) {
        &.follow { display: inline-block; top: 0; }
   }
}


/* 4. Organism */
/* Examples: Comments, Header, Footer */

/* 4.1 Header */
header { 
    width: 100%; overflow-x: hidden; overflow-y: auto; z-index: 10000; top: 0; position:relative;
    margin-bottom: 2em; background-color: white; border-bottom:1px solid @mid;  
    h1 { margin:0; display:inline-block; 
        a { 
            display: inline-block; text-decoration: none; margin: 0.5em;
            &:hover { text-decoration: none; }
            img { width: auto; max-width: 100%; }
        }
    }
    h2 {
        margin:0; color:@dark;
        &.subtitle { 
            font-family: @fontInterface; font-size:0.9em; line-height:1.5em; 
            text-transform:none; color: @light; margin:0; }
        .title { color: @secondary; 
            @media screen and (max-width: @tablet) {
               & {display:block;}
            }
            @media screen and (min-width: @tablet) {
               & {display:inline-block;}
            }
        }
    }
    nav {
        display: inline-block;
    }
    #description { 
        text-align: left; margin: auto; position: absolute; top: 0; bottom: 0; height: calc(25%);
        @media screen and (max-width: @tablet) {
            & { height: calc(50%) }; 
        }
    }

    @media screen and (max-width: @widescreen) {
       h1 a { width: calc(@masterAd / 4); height: calc(@masterAd / 4); }
    }
    @media screen and (min-width: @widescreen) {
        h1 a { width: auto; height: auto; }
    }
}


/* 4.2 Slideshow and its container*/
#comic { 
    margin-bottom: 2em;
    transition: max-height 0.25s; -webkit-transition: max-height 0.25s; 
    h1 { font-size: 2.5em; margin-bottom: 0.5rem;
        .edition { color: @secondary; margin-left: 0.25em; font-size: 0.75em; top: -0.25em; position: relative; 
            sup { font-size:0.5em; }
        }
    }
}
.slide { 
    overflow:hidden; display:inline-block; margin-bottom: 1em;
    img { width: @masterWidth !important; margin:-50px -20px -20px -20px; }
}

/* Page content */
#content h1 { 
    font-family:@fontEmphasis; font-size: 0.9em; margin-bottom: 0; color:@secondary; text-transform: uppercase;  
}

/* 4.4 Follow strap */
footer { /* general styles */
    .row { background-color: @white; }
    .footer-molecule {
        padding:1em 0; 
    }
    h2 { margin:0 0 1em 0; color:@dark; 
        &.subtitle { 
            font-family: @fontInterface; font-size:0.9em; line-height:1.5em; text-transform:none; color: @light; margin:0;  
        }
    }
}

footer .strap { 
    width: 100%; padding: 0; display: inline-block; 
    border-top: 1px solid @mid; 
    p { font-size:0.95rem; color: @dark; margin:1em 0 0 0; }
    a { color: @dark; 
        &:hover, &:active { color: @secondary; text-decoration: underline; }
    }
    ul { min-height:2em; 
        li { font-size:0.95rem; color: @dark; margin:0; }
    }
}

/* 4.5.1 Follow + Reveal background */
footer #follow { position: relative; margin-bottom:-1px; border-bottom:1px solid @mid; }

footer .options {
    width:100%; overflow: visible; position:relative;
    .option {       
        /*triangle indicator on 'Show Background' */
        &.reveal { overflow:visible;
                    &:after {content:" ";width:1em; height:1em;
                    position:absolute; top:-0.55em; right:2em; background:white;
                    transform:rotate(45deg); 
                    -ms-transform:rotate(45deg); 
                    -webkit-transform:rotate(45deg);
                    border-left:1px solid @mid; border-top: 1px solid @mid;
                    }
        }
        
        @media screen and (max-width: @tablet) {
            &.reveal { display:none; }
        }
        @media screen and (min-width: @tablet) and (max-width: @desktop) {
            /* & { width: calc(@masterAd + @tablet-fontsize * 2); display: inline-block; float:left; } */
            &.reveal {  
                &:after { left:3.5em; top:-1.6em; }
            }
        }
        @media screen and (min-width: @desktop) {
            &.reveal { float:right; text-align:right; }
        }    
        &.reveal { 
            & h2 { display:block; }
            & a { text-decoration:none; display:block;  
            &:hover, &:active { text-decoration:none; color:@secondary; cursor: pointer; }
            }
        }
        &.follow { 
            h2 { margin-bottom:0.25em; }
        }
    }
}
header.ui-hide, .wrapper.ui-hide, footer .ui-hide { opacity:0.1; .transition-all(1s); }

/* 4.5.2 Authors */
footer .authors { 
    width:100%; overflow: auto; 
    p { font-size: 0.95em; }
    .name { 
        position: relative; float:left; width: ~"calc(100% - 8em)"; height:6em; 
        h1 { position:absolute; bottom: 1rem; }
        p { font-size: 1.15em; line-height:1rem; margin:0 0 0.5rem; position: absolute; bottom:0; }
    }
    .bio { position: relative; float:right; ; 
        p { margin:0; }
    }
    .portrait {
        float:left; margin:0 1em 0 0;
        background-color: @primary; .dropShadowInset(-3px,-3px,0px,@accent); border:2px solid @verydark;
    }

    @media screen and (max-width: @tablet) {
        .author { margin-bottom: 1em; 
            &:last-of-type { margin-bottom:0; }
        }
        .portrait { width:4.5em; height:4.5em; border-radius:4.5em;  }
        .name { height:5em; }
        .bio { width: ~"calc(100% - 5.75em)"; }
    }
    @media screen and (min-width: @tablet) and (max-width: @desktop) {
        .portrait { width:5em; height:5em; border-radius:5em;  }
        .name { height:5em; }
        .bio { width: ~"calc(100% - 6.25em)";
            p { max-width: @masterAd * 2; }
        }
    }
    @media screen and (min-width: @desktop) {
        .portrait { width:6em; height:6em; border-radius:6em;  }
        .bio { width: ~"calc(100% - 7.25em)"; }
    }    
}


/* 5. Templates */
/* Examples: Blog List, Comics main page, Product Detail */

.column-all { margin: 0 auto; }

.column-1, .column-2 {
    width:auto; padding:0; margin-bottom: 2em;
    .container { 
        display:block; overflow:auto; 
        background-color: @white; .dropShadowForContainers;
    }
}
.column-2 {
    .container { 
        width: @masterAd; padding:1em; margin-bottom: 1em; 
        &:last-child { margin-bottom:0; }
        p { font-size:0.9em; margin:0; }
        a { color: @verydark; }
    }
}
.container.large {
    display:block; overflow:auto; 
    background-color: @white; .dropShadowForContainers;
    &.large { overflow: hidden; }
}



@media screen and (max-width: @tablet) {
    .column-all { 
        width: 100%;
        &#comic {width: calc(@masterWidth + @handheld-fontsize * 4); }
        .container.large { padding:1em; margin: 0 0 0 1em; }
    }
    .column-1 { 
        max-width: @masterAd * 2 + (@handheld-fontsize * 7); display:block; float:none; 
        .container { padding:2em; margin: 0 2em 2em 1em; }
    }
    .column-2 { 
        float:none; display:block; margin-left: 1em;
    }
    footer .column-all { padding-left:2em; }
    footer .column-1 { 
        width:auto; display: block; float:left; margin:0 4em 0 0;
        &.reveal { display:none; }
    }
}

@media screen and (min-width: @tablet) and (max-width: @desktop) {
    .column-all { width: @masterWidth + @tablet-fontsize * 2; 
        .container.large { padding:2em; margin-left: 1em; margin-right: 0em; }
    }
    .column-1 { 
        width: @masterAd * 2 + 7em; 
        margin-right: 2em; margin-left: 1em; margin-bottom: 2em; float:left; 
        .container { padding: 2em; margin: 0 1em 0 0; }
    }
    .column-2 { 
        width: @masterAd * 2 + (@tablet-fontsize * 7); padding: 0; float:left; margin-left:1em; 
        .container { 
            display: inline-block; vertical-align: top; margin-right: 1em; 
            &:nth-of-type(2n+2){ margin-right:0; }
        }
    }
    footer .column-all { padding-left:2em; }
    footer .column-1 { 
        width:@masterAd + @tablet-fontsize * 2; display:inline-block; float:left; margin:0 2em 0 0;
        &.option:nth-of-type(1) { position:absolute; left: @masterAd + @tablet-fontsize * 4; }
    }
    footer .column-1.author {
        width:auto; display:block; margin:0 1em 1em 1em;
        &:last-of-type { margin-bottom:0; }
    }
}
@media screen and (min-width: @desktop) and (max-width: @widescreen) {
    .column-all { width: @masterWidth + @desktop-fontsize * 2; 
        .container.large { padding:2em; }
    }
    .column-1 { 
        width: (@masterAd * 1.5)  + (@desktop-fontsize * 2); 
        margin-right: 2em; margin-bottom: 2em; float:left; 
        .container { padding:2em; }
        &.authors {
            display:inline-block; margin-right:2em; margin-bottom:0; padding: 1em 0;
            &:last-of-type { margin-right:0; }
        }
    }
    .column-2 { 
        width: @masterAd + (@desktop-fontsize * 2); float:left; 
        margin-top: 4em; margin-bottom: 0em; 
    }
    footer .column-all { padding-left:0; }
    footer .column-1 { 
        width: calc(50% - 2em); display:inline-block; float:left; margin:0 2em 0 0;
        &:last-of-type { margin-right:0; }
    }
}

@media screen and (min-width: @widescreen) {
    .column-all { width: @masterWidth + @widescreen-fontsize * 2; 
        .container.large { padding:2em; }
    }
    .column-1 { 
        width: (@masterAd * 1.5)  + (@widescreen-fontsize * 2); 
        margin-right: 2em; margin-bottom: 2em; float:left; 
        .container { padding:2em; }
        &.authors {
            display:inline-block; margin-right:2em; margin-bottom:0; padding: 1em 0;
            &:last-of-type { margin-right:0; }
        }
    }
    .column-2 { 
        width: auto; float:left; 
        margin-top: 4em; margin-bottom: 2em; 
        .container { 
        }
    }
    footer .column-all { padding-left:0; }
    footer .column-1 { 
        width: calc(50% - 2em); display:inline-block; float:left; margin:0 2em 0 0;
        &:last-of-type { margin-right:0; }
    }
}




/* 6. Page */
body {  }
.wrapper { overflow:auto; padding:1em; margin: -1em auto; }
#content .container {  }
/*
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} */
