<div id="comic" class="column-all">
<div class="container large">
    	<h1 ng-bind-html="currentComic.TitleAndEdition" ng-cloak>Loading latest comic</h1>
        <div class="slide">
            <img ng-src="{{currentComic.artwork || 'http://localhost/luv-slimline/images/ajax-loader.gif'}}" title="{{currentComic.title}}" alt="{{currentComic.script}}" />
        </div>
        
    <nav id="comics-navigation" class="buttons" role="navigation">
      <div class="latest button {{btnlatest()}}"><button ng-click='latest()' class="transition" >Start with the latest</button></div>
      <div class="previously button {{btnnext()}}"><button ng-click='next()' class="transition" >Older</button></div> 
      <div class="continued button {{btnprev()}}"><button ng-click='prev()' class="transition" >Newer</button></div>
      <div class="beginning button {{btnstart()}}"><button ng-click='beginning()' class="transition">Start at the beginning</button></div>
    </nav>        
    
<style>
.ui-show {
    display:inline-block;
  color: blue;
  transition: all 0.5s ease; /* You should probably browser-prefix this */
}
.ui-hide {
  opacity: 0;
  transition: all 0.5s ease; /* You should probably browser-prefix this */
}
</style>

    <nav id="comics-shares" class="buttons"  role="navigation">
      <button id="toggle_shares" ng-click="showHide=!showHide" class="ng-binding" >Share</button>
      <div id="shares" class="ui-hide" ui-toggle="showHide">
      	<ul class="social share unstyled horizontal">
        	<li class="social-share facebook">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{currentComic.link}}" target="_blank" title="Share '{{currentComic.title}}' on Facebook">
                	<img src="images/share-facebook.png" title="Share '{{currentComic.title}}' on Facebook" >
                </a>
            </li>
            <li class="twitter">
                <a href="http://twitter.com/home?status='{{currentComic.title}}'%20-%20LUV%20it!%20{{currentComic.link}}%20via%20@ilikeluvcomics" title="Share '{{currentComic.title}}' on Twitter" target="_blank">
                	<img src="images/share-twitter.png" title="Share '{{currentComic.title}}' on Twitter" >
                </a>
            </li>
            <li class="googleplus">
            <a href="https://plus.google.com/share?url={{currentComic.link}}" title="Share '{{currentComic.title}}' on Google+">
            	<img src="images/share-googleplus.png" title="Share '{{currentComic.title}}' on Google+" >
            </a>
            </li>
            <li class="reddit">
            <a href="http://www.reddit.com/submit?title={{currentComic.title}}&url={{currentComic.link}}&newwindow=1" title="Share '{{currentComic.title}}' on Reddit">
            	<img src="images/share-reddit.png" title="Share '{{currentComic.title}}' on Reddit" >
            </a>
            </li>
            <li class="pinterest">
            <a href="http://pinterest.com/pin/create/button/?url={{currentComic.link}}&media={{currentComic.social}}&description={{encodeURI(currentComic.notes)}}" title="Share '{{currentComic.title}}' on Pinterest">
            	<img src="images/share-pinterest.png" title="Pin '{{currentComic.title}}' on Pinterest" >
            </a>
            </li>
            <li class="stumbleupon">
            <a href="http://www.stumbleupon.com/submit?url={{currentComic.link}}"  title="Share '{{currentComic.title}}' on StumbleUpon">
            	<img src="images/share-stumbleupon.png" title="Share '{{currentComic.title}}' on StumbleUpon" >
            </a>
            </li>
        </ul>
      </div> 
    </nav>
        
        </div>
    </div>


<div class="clear"></div>

<div id="content" class="column-all">
    <div class="column-1">
        <div class="container">
            <h1 class="subtitle">Notes on <span ng-bind-html="currentComic.title"></span></h1>
            <div ng-bind-html="currentComic.notes"></div>
            <p class="subheading">More comics</p>
            <nav id="body-navigation" class="buttons left fadein" role="navigation">
              <div class="quiet latest button {{btnlatest()}}"><button ng-click='latest()' class="" >Start with the latest</button></div>
              <div class="quiet previously button {{btnnext()}}"><button ng-click='next()' class="" >Older</button></div> 
              <div class="quiet continued button {{btnprev()}}"><button ng-click='prev()' class="" >Newer</button></div>
              <div class="quiet beginning button {{btnstart()}}"><button ng-click='beginning()' class="">Start at the beginning</button></div>
            </nav>        
        </div>
    </div>

    <!-- <div class="column-2">
        <div class="container">
            <h1 class="subtitle">A Geeks' Guide to Girls</h1>
            <a href="http://luvcomics.storenvy.com/">
            	<img src="../images/promo-geeks-guide-colour-300x150.png" alt="LUV Comics online store"/></a>
            <p><a href="http://luvcomics.storenvy.com/">Buy the LUV Comics book</a></p>
        </div>

        <div class="container promo">
            <h1 class="subtitle">Girl Reporter</h1>
            <a href="http://girlreporter.net">
            	<img src="images/promo-girl_reporter-colour-300x150.png" alt="Girl Reporter"/></a>
            <p><a href="http://girlreporter.net">Sally's observations and interviews</a></p>
        </div>        

        <div class="container promo">
            <h1 class="subtitle">Out now</h1>
            <img src="images/promo-throbbing_members-colour-300x150.png" alt="Throbbing Members"/>
            <p>The new Throbbing Members album</p>
        </div>        

        <div class="container promo">
            <h1 class="subtitle">Get Hammer. Get Sickle.</h1>
            <img src="../images/promo-drog-colour-300x150.png" alt="Drog: Russia's finest fictional vodka-beer"/>
            <p>Russia's finest fictional vodka-beer</p>
        </div>      

    </div> -->
</div> <!-- end column all -->
